In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, Normalizer, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

## Get data

In [2]:
data = pd.read_csv("files/attacks.csv", encoding='latin1')
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## Data cleaning

In [4]:
data = data.drop_duplicates() #to remove duplicated rows

In [5]:
data.columns = [col.lower().replace(' ','_') for col in data.columns] #to standardize headers

In [6]:
data.rename(columns={"sex_": "gender", "species_": "species", "fatal_(y/n)": "fatal"}, inplace=True)

In [7]:
## dataframe has no duplicates, headers are standardized and we removed rows with lot of NaNs. Let's take another look at our dataframe: 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6310 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   gender                  5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal                   5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

We can already notice that several columns won't be important for our model: 
- case_number doesn't add any relevant information. same for the date, year, case_number.1, case_number.2, original_order as the information from those originates in the date
- type contains very unclear information
- name and investigator_or_source columns - to be dropped, they don't contain any information applicable for our model 
- same for pdf, href and href_formula which contain pdf with links 
I will focus on the data regarding location, activity, gender of the victim and injury/fatality of the attack.

In [8]:
## The initial analysis suggests we can already drop several columns: case_number, year, name, pdf, href_formula, href, case_number.1, case_number.2, original_order, unnamed:_22, unnamed:_23, investigator_or_source
data = data.drop(columns = ["case_number", "date", "year", "type", "name", "age", "time", "pdf", "href_formula", "href", "case_number.1", "case_number.2", "original_order", "unnamed:_22", "unnamed:_23", "investigator_or_source"], axis=1)

In [9]:
def clean_empty(x):
    return 'UNK' if x == '' or x == ' ' else x

In [10]:
for col in data.select_dtypes('object'):
    data[col] = data[col].apply(clean_empty)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   6252 non-null   object
 1   area      5847 non-null   object
 2   location  5762 non-null   object
 3   activity  5758 non-null   object
 4   gender    5737 non-null   object
 5   injury    6274 non-null   object
 6   fatal     5763 non-null   object
 7   species   3464 non-null   object
dtypes: object(8)
memory usage: 443.8+ KB

In [12]:
data = data.dropna(thresh=5) #to remove rows which have NaN in min. 5 columns

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6201 entries, 0 to 6301
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   6178 non-null   object
 1   area      5833 non-null   object
 2   location  5749 non-null   object
 3   activity  5726 non-null   object
 4   gender    5680 non-null   object
 5   injury    6183 non-null   object
 6   fatal     5684 non-null   object
 7   species   3443 non-null   object
dtypes: object(8)
memory usage: 436.0+ KB

We have only categorical data left.

In [14]:
data1 = data.copy() #copy of the dataframe after initial clean up

In [15]:
data1.isna().sum()

country       23
area         368
location     452
activity     475
gender       521
injury        18
fatal        517
species     2758
dtype: int64

In [16]:
data1["country"] = data1["country"].fillna("ukn")

In [17]:
data1["area"] = data1["area"].fillna("ukn")

In [18]:
data1["location"] = data1["location"].fillna("ukn")

In [19]:
data1["activity"] = data1["activity"].fillna("ukn")

In [20]:
data1["gender"] = data1["gender"].fillna("ukn")

In [21]:
data1["injury"] = data1["injury"].fillna("ukn")

In [22]:
data1["fatal"] = data1["fatal"].fillna("ukn")

In [23]:
data1["species"] = data1["species"].fillna("ukn")

In [24]:
data1.isna().sum()

country     0
area        0
location    0
activity    0
gender      0
injury      0
fatal       0
species     0
dtype: int64

In [25]:
data2 = data1.copy() #copy of the dataframe after removing NaNs

In [26]:
data2.describe()

       country     area location activity gender injury fatal species
count     6201     6201     6201     6201   6201   6201  6201    6201
unique     210      822     4098     1519      7   3698     9    1550
top        USA  Florida      ukn  Surfing      M  FATAL     N     ukn
freq      2227     1037      452      969   5039    778  4255    2758

In [27]:
for col in data2:
    print(data2[col].value_counts(), '\n')

USA                           2227
AUSTRALIA                     1332
SOUTH AFRICA                   579
PAPUA NEW GUINEA               133
NEW ZEALAND                    126
                              ...
NORTH ATLANTIC OCEAN             1
MAYOTTE                          1
GABON                            1
ANDAMAN / NICOBAR ISLANDAS       1
CEYLON (SRI LANKA)               1
Name: country, Length: 210, dtype: int64

Florida                   1037
New South Wales            485
ukn                        368
Queensland                 310
Hawaii                     298
                          ...
Aulong Island                1
Antibes                      1
Illeginni Atoll              1
Between Beira & Maputo       1
Moala Island                 1
Name: area, Length: 822, dtype: int64

ukn                                               452
New Smyrna Beach, Volusia County                  163
Daytona Beach, Volusia County                      30
Ponce Inlet, Volusia County                        20
Melbourne Beach, Brevard County                    18
                                                 ...
Whale Beach                                         1
l'Anse-Vata                                         1
Hole-in-the Wall                                    1
Wreck of the Navy Barge, 22 miles SE of Rudee       1
Below the English fort, Trincomalee                 1
Name: location, Length: 4098, dtype: int64

Surfing                                 969
Swimming                                866
ukn                                     475
Fishing                                 430
Spearfishing                            331
                                       ...
Feeding mullet to sharks                  1
Sight-seeing                              1
Netting pilchards                         1
Surf-fishing                              1
Wreck of  large double sailing canoe      1
Name: activity, Length: 1519, dtype: int64

M      5039
F       635
ukn     521
M         2
N         2
lli       1
.         1
Name: gender, dtype: int64

FATAL                                                                   778
Survived                                                                 95
Foot bitten                                                              87
No injury                                                                81
Leg bitten                                                               72
                                                                       ...
FATAL, arm bitten                                                         1
Multiple injuries                                                         1
Right thigh bitten PROVOKED INCIDENT                                      1
Bruised right leg                                                         1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: injury, Length: 3698, dtype: int64

N          4255
Y          1358
ukn         517
UNKNOWN      60
 N            7
M             1
2017          1
N             1
y             1
Name: fatal, dtype: int64

ukn                                                                                                                              2758
White shark                                                                                                                       163
Shark involvement prior to death was not confirmed                                                                                102
Invalid                                                                                                                           101
Shark involvement not confirmed                                                                                                    86
                                                                                                                                 ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                   1
Bull shark, 2.3 m [7.5']                                                                                                            1
0.9 m  [3'] shark                                                                                                                   1
Mako shark, 14'                                                                                                                     1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: species, Length: 1550, dtype: int64

Looking at the information above we can see that we need to clean the data in all columns that are left so it's more clear for the model we'll build.

In [28]:
## cleaning the gender column.

In [29]:
data2["gender"].value_counts()

M      5039
F       635
ukn     521
M         2
N         2
lli       1
.         1
Name: gender, dtype: int64

In [30]:
def clean_gender(x):
    x = str(x).lower()
    if x.startswith("m"):
        return "m"
    elif x.startswith ("f"):
        return "f"
    elif x.startswith("n"):
        return "m"
    else: 
        return "ukn"

In [31]:
data2["gender"] = data2["gender"].apply(clean_gender)
data2["gender"].value_counts()

m      5043
f       635
ukn     523
Name: gender, dtype: int64

In [32]:
## In the activity column we have too many different values so too avoid problems with our model I'll bucket the ones with a very low count (often it's too precise explanation of the context when the incident took place) under the label "other"

In [33]:
def clean_activity(x):
    x = str(x).lower()
    if "surfing" in x:
        return "surfing"
    elif "swimming" in x:
        return "swimming"
    elif "fishing" in x:
        return "fishing"
    elif "spearfishing" in x:
        return "spearfishing"
    elif "bathing" in x:
        return "bathing"
    elif "diving" in x:
        return "diving"
    elif "surf-skiing" in x:
        return "surf skiing"
    elif "surf skiing" in x:
        return "surf skiing"
    elif "boat" in x:
        return "boating"
    elif "stand-up paddleboarding" in x:
        return "paddle boarding"
    elif "sitting on surfboard" in x:
        return "surfing"
    elif "floating on his back" in x:
        return "floating"
    elif "floating on his back" in x:
        return "floating"
    elif "fell overboard" in x:
        return "fell into the water"
    else: 
        return x

In [34]:
data2["activity"] = data2["activity"].apply(clean_activity)
data2["activity"].value_counts()

fishing                                 1157
surfing                                 1134
swimming                                1107
diving                                   524
ukn                                      475
                                        ...
attempting to anesthetize shark            1
walking on reef                            1
aircraft exploded                          1
paddling rescue ski                        1
wreck of  large double sailing canoe       1
Name: activity, Length: 696, dtype: int64

In [35]:
rare_activities = [ind for ind, val in data2["activity"].value_counts().iteritems()if val <5]
rare_activities

['paddling on surfboard',
 'jumping',
 'clamming',
 'splashing',
 'body-boarding',
 'kite boarding',
 'lifesaving drill',
 'jumped into the water',
 'air disaster',
 'feeding sharks',
 'seine netting',
 'tagging sharks',
 'paddling',
 'floating on a raft',
 'their 9 m launch was run down by a 25,000-ton japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 'jumped overboard',
 '.',
 'shark watching',
 'knocked overboard',
 'spearing fish',
 'feeding fish',
 'playing in the surf',
 'sculling',
 'escaping from alacatraz',
 'unknown',
 'competing in the woodvale atlantic rowing race',
 'sup',
 'wreck of the schooner pohoiki ',
 'jumped overboard ',
 'standing in knee-deep water',
 'crabbing',
 'suicide',
 'thrown overboard',
 'cruising',
 'shark tagging',
 'shooting sharks ',
 'rowing ',
 'finning the shark that bit him',
 'the christie v sank on 11/6/1988, survivors were adrift on a dinghy',
 '"flying tiger" transport plane went down with 5 men onboard',
 'standing ',
 'washing',
 'u.s. airforce c124 enroute from hickham air base to japan went down. the 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
 'washing his feet',
 'collecting shells',
 'ocean racing',
 'floating on back',
 'splashing ',
 's2n navy scout plane went down, e.h. almond & lieut a.g. reading in water',
 'netting shrimp',
 'standing in waist-deep water',
 'hmas parramatta torpedoed & sunk by the u-559',
 'beach seine netting',
 'dived for a coin',
 'attempting to kill a shark with explosives',
 'floating in inner tube',
 'sitting in shallows',
 'aircraft crashed into sea',
 'teasing a shark',
 'cleaning fish',
 'kiteboarding',
 'playing in the water',
 'jet skiing',
 'kayaking ',
 'transatlantic rowing',
 'sitting in the water',
 'the schooner elizabeth, bound from bluefields, nicaragua to the river port of san carlos foundered',
 'standing in water with child in her arms',
 'washed off freighter huncliff by a freak wave',
 'washing hands',
 'scooping prawns',
 'she was on a ship that was torpedoes & was in the water awaiting rescue',
 'paddle-boarding',
 'canoe capsized by shark',
 'male',
 'tzenny chandris, a greek freighter laden with scrap iron, foundered in heavy weather',
 "12 of the penang's crew were returning to the ship when their 12' dinghy capsized",
 "holding shark's tail ",
 'wreck of a sampam',
 'watching seine netters with friends, one of whom picked up a netted shark',
 'standing on sandbank',
 'dived into the water',
 'collecting fish in military trap when bitten by captured shark that had been shot by soldiers with garten',
 "captured allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks",
 'sailing from gingood, misamis oriental to sagay (normally a 2-day voyage) capsized with 6 on board, three men were taken by sharks when they attempted to swim to shore.',
 'ditched plane in the sea & were adrift on a rubber life raft. ',
 'torpedoed & burning british  light cruiser with a crew of 450 men',
 'surfng',
 'british cruiser dunedin torpedoed & sunk by the u-124',
 'german raider kormoran was sunk in an engagement with hmas sydney',
 'ss ethel skakel foundered in central america hurricane of 1941',
 'ditched aircraft, 3 men in the water. swam for 31 hours',
 'the troopship britannia was sunk by the german raider thor',
 'grabbing shark for a selfie',
 'rescuing seaman after ship sunk by german raider',
 'adrift on raft after their ship was sunk by an axis raider ',
 'slipped off rocks and fell into the water',
 'touching the mouth of a supposedly dead shark',
 'swept overboard',
 'disappeared 11 days earlier, probable homicide victim',
 'put foot inside a landed & supposedly dead shark',
 'shark hoisted on board liner tahiti',
 'the steamer tahiti collided with the ferry greycliffe',
 'italian liner principessa mafalda sank',
 'riding horseback across the creek',
 'standing, collecting bananas',
 'feeling the shark\x92s teeth',
 'attempting to rescue drowning man',
 'jumped out of canoe',
 'dived onto shark from floating stage',
 'h.m.s. cornwall & h.m.s.dorsetshire sunk by japanese dive bombers. officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
 'the ward liner esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
 'inebriated, woke from sleep and fell off deck into the water ',
 'removing shark from a net',
 'floating, after falling or jumping off the standard oil tanker frederick w. weller',
 'dry shelling',
 'after rowing skiff was holed by shark, he was attempting to swim ashore',
 'dismantling cable buoys of the cable ship all america',
 'retrieving meat from a cage in the water',
 'sea disaster, sinking of the  ss vestris',
 'wading, netting fish',
 'fell from wharf into water & attacked immediately',
 'put foot inside mouth of supposedly dead shark',
 'hauling in net with shark in it',
 'taken as he dived into the water',
 'dived into sea from launch & bitten immediately',
 'splashing in water ',
 "sitting in 3' of water",
 'yacht of michael howell capsized',
 'standing on his hands',
 'catching a turtle',
 'on expedition filming a feature movie & standing on tripod',
 'working near fish traps',
 'collecting fish by lamplight in gully',
 'gaffing & attempting to bring onboard a harpooned shark',
 'removing shark from a trap',
 'sea disaster, wreck of the  ss norwich city',
 'esso bolivar was torpedoed & shelled by the german submarine u-126',
 'sup foil boarding',
 'plane crashed in water, men in life raft',
 'body found on deserted luxury yacht, 38\x92 christine',
 'paddling a canoe',
 'swept off deck of s.s.frontenac enroute from west indies to us',
 'survived crash of two-engine  c-46 transport plane carrying 62 migrant workers from puerto rico to usa ',
 'sitting on side of dinghy mending a net',
 'defecating in water beneath the docks',
 'bending over',
 'sea disaster, sinking of the motorship wingate',
 "lying on the bottom of a 16' dinghy",
 'no details',
 'examining netted shark, that had been shot',
 'lifesaving exhibition',
 'treading water, waiting for a wave',
 'air/sea disaster involving c-54 air force transport no. 2686 with 37 on board',
 'leicester abandoned in a hurricane',
 'spearing a shark',
 'fell off surf ski',
 'cargo ship southern isle sank at 04h00',
 'a 210-ton brig was sunk by a japanese submarine. some of the survivors were machine-gunned & some were taken by sharks',
 'shipwrecked; adrift on raft for 2 days & 2 nights',
 "competing in u/w endurance record, standing beside drum in 10' of water",
 'rowing toward snapper grounds',
 'hunting lobsters in 2.4 m of water',
 'crossing the bay at the ford',
 'american freighter mormackite, bound from buenos aires for baltimore, capsized & sank in heavy seas',
 'grabbed shark & threw it on deck',
 'crouching in the water',
 'aircaft exploded',
 'royal hawaiian skymaster dc-6b aircraft went down with  58 passenger & crew',
 'accidentally dragged overboard from the sampan holokahana into school of yellowfin tuna',
 'retrieving bait box that had fallen overboard',
 "adrift on a 4'  raft for 32 days",
 'bitten while cutting shark from net',
 'lying prone on surfboard',
 'went to aid of child being menaced by the shark',
 'c47 aircraft carrying 5,000 lbs of ice ditched in the sea',
 'underwater photography',
 'floating in tube',
 'attempting to ride a shark',
 'ship torpedoed 400 miles off the african coas. man was clinging to hatch cover',
 'the 3540-ton alfonso penna was torpedoed & sunk by the italian submarine barbarigo',
 'known as the battle of the bismarck sea :  8 japanese destroyers guarding a convoy of 8 transports were attacked by 129 allied fighters, 207 bombers & 3 squadrons of the royal australian air force. ',
 'the uss wahoo torpedoes & sank the japanese troop transport buyo maru',
 'dog paddling or standing',
 'u-177 torpedoed & sank the troopship nova scotia',
 'thrown from destroyer when shell hit',
 'explosion & sinking of the uss juneau after being torpedoed by the submarine  i-85',
 'in rubber dinghy with captain eddie rickenbacker for 21 days. ',
 'his ship, the us destroyer duncan dd 485, had been  sunk by crossfire from japanese warships. he was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation  ',
 'the 6015-ton british ship empire avocet was torpedoed by the german submarine u-125. ',
 'adrift on life raft',
 'japanese aircraft shot down. he was one of two survivors rescued by the u.s. destroyer mugford',
 'the ss potlach was torpedoed & sunk by the u-153 on 27-jun-1942. ',
 "fell from his father's back into the water",
 'hospital ship centaur torpedoed & sunk by the japanese submarine i-177',
 'lobstering',
 'b-24 crashed during a search mission. survivors in raft for 47 days ',
 'uss hoel dd 533 sunk on 10/24/1944 in the battle off samar. 2 crewmen were swimmng alongside a floater net &',
 'jumping in swells',
 'bitten after dhow shipwrecked',
 'american cruiser indianapolis torpedoed & sunk by the japanese submarine i-58',
 '90 european civilians, many women & children, were placed on the deck of a japanese submarine that submerged when it was well offshore',
 'playing on rock, slipped & fell into the water',
 'uss gambier bay cve-73  shelled & sunk  at 09h57 on 10/24/1944, by japanes fleet enroute to attack the allied landing force at leyte.',
 'parachuted into pacific',
 'treading water after survivng crash of the us navy airship k-74 that was hit by the german submarine u-134',
 'japanese pow ship arisan maru with 1800 american prisoners of war on board bound for slave labor camps was torpedoed by an american submarine',
 'washed overboard by swell',
 'adrift on raft',
 'b-24 aircraft crashed  into the sea',
 'the cuban freighter libertad was torpedoed and sunk by the german submarine u-129',
 'the 6711-ton american freighter & troop transport cape san juan was torpedoed by the japanese submarine i-21',
 'seaplane columbus ditched in the sea',
 'wading to dinghy, carrying his son',
 'feeding stingrays?',
 'wreck of the 150-ton brig maria',
 'wreck of the union steamship company 982-ton iron steamer kafir',
 'washed off raft',
 'washed overboard from the barque mary eady',
 'body found floating next to his ship',
 'escaping from blackbirding vessel',
 'fleet of canoes caught by a squall and charged by sharks.',
 'burning of the s.s. missouri',
 'adrift on a raft ',
 'dived into a school of baitfish',
 'a junk foundered',
 'painting a ship',
 'boarding a ship',
 'wreck of the aphrodite',
 'dragging a shark',
 'coming ashore on a hawser',
 'reaching for life preserver',
 'floating with life buoy after pilot launch capsized',
 'the steamship bonnie dundee lost in collision',
 'floating, holding onto an oar after dory capsized',
 'during "an exhibition" he was tied in sack & thrown overboard ',
 'crossing the river mouth',
 'fell oveboard from steamer wanderer',
 'sea disaster, wreck of the alfred watts',
 'sea disaster, wreck of the sloop sara',
 'rowing a dinghy',
 'the passenger ship kapuna was run down the ore carrier ada melmore',
 'british ship macedon was thrown on her beam ends by a sudden squall',
 'netting menhaden, sharks caught in net',
 'oystering',
 'sea disaster : wreck of the taiaroa',
 'fell or jumped overboard from the liner rhynland',
 'paddle-skiing',
 'yachting accident',
 'restraining a beached shark',
 'clinging to shipwrecked junk',
 'trying to catch a wounded bird',
 'deserting the bark nazarene',
 '43-ton schooner irene capsized & sank',
 'conch diver',
 'washing himself',
 'went overboard',
 'ship lay at anchor & man was working on its rudder',
 'ascending from a dive',
 'washing his pig in preparation for a religious ceremony',
 'shipwrecked persian fleet',
 'collecting fish ',
 'a dhow capsized',
 'yachtsman in a zodiac',
 'attempting to drive shark from area',
 'crossing river on a raft',
 'lashing logs together when he fell into the water',
 'standing, washing rear wheels of his ambulance in ankle-deep water',
 'carrying a supposedly dead shark by its mouth',
 'spent 8 days in dinghy',
 "standing on landed shark's tail",
 'hbm magpie foundered in a squall',
 'jumped overboard while intoxicated',
 'wreck of the schooner driver',
 'ship william penn grounded & broke apart',
 'wreck of the steamship birkenhead',
 'vessel capsized, wading ashore carrying an oar',
 'attempting to rescue woman seized by shark',
 'hilo',
 'wreck of the sovereign',
 'wreck of the uss somers',
 'jumped into river',
 'harassing a shark',
 'washed off catamaran in the surf',
 'unknown, but it was said to be the "first known attack in sydney harbour"',
 'accidentally thrown overboard & treading water while awaiting rescue',
 'hooking into a whale',
 'american schooner orator capsized  ',
 'washing a dog',
 'the cutter yacht cutty sark sank',
 'the dwarka foundered',
 'probabable drowning',
 'washed overboard',
 '3-masted steel barque glenbank foundered during a cyclone',
 'shipwrecked pearling schooner',
 '1446-ton norwegian barque errol, bound from peru to newcastle with 22 on board wrecked. survivors shelterd on the wreck of the annasona. subsequently the master, his wife & 4 children perished along with several crew. survivors (5) were rescued 7/12/1909',
 'reported swept away by waves while gathering opihi',
 'wreck of the 1308-ton norwegian ship auckland',
 'on december 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in silcily and southern italy, killing more than 100,000 people',
 'fell from the jetty',
 'the 168-ton belmore foundered in heavy seas',
 'the british steamer caribbee foundered',
 'attempting to lasso a shark',
 'gathering fish stunned by dynamite',
 'floating in creek',
 'touching a shark',
 'the schooner tahitienne foundered in a hurricane',
 'washing horses',
 'jumped overboard to rescue companion',
 'hauling in net',
 'human head found in shark caught by british steamer syria',
 'washed into sea while picking opihi & attacked by 2 large sharks ',
 'the coastwise steamer san basilio capsized in a typhoon',
 'harpooned shark',
 'floating face down',
 'kakaying',
 'knocked into the water',
 'cutter capsized',
 'wading (shrimping)',
 'wreck of the tug magellan',
 'stuffing a shark into an automobile',
 'ship mariston torpedoed & sunk',
 'taking wife to beach & about 1 m from the shore',
 'photo shoot',
 'jumped overboard from norwegian steamship venator',
 'copra vessel with 19 on board was wrecked in a squall',
 'washing clothes',
 'floating or standing',
 'harpooning turtles',
 'the steamships thingvalla and geiser collided',
 '"crossing the river"',
 'abandoning burning steamship don juan',
 'a barque wrecked',
 'hms victoria collided with the hms camperdown',
 'canoe swamped',
 'his balloon crashed in the harbor',
 'murdered',
 'riding a horse',
 ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
 'attempting to rescue shipmate',
 'sea disaster, canoes capsized in storm',
 'skimboarding',
 'treading for clams',
 'parachuted from balloon',
 'cleaning the side of a ship',
 'working on the bridge when he fell into the river',
 'fell from yardarm of british ship rover',
 'sea disaster : wreck of the carrie e. long',
 'catching crabs',
 'hunting seals',
 'standing on ship deck',
 'taking catch from a fish weir in which the shark was snared',
 'hunting seashells',
 'unk',
 'standing, gathering oysters',
 'hunting sharks',
 'hunting crayfish',
 'fell oveboard',
 'the cutter francis adams foundered',
 'sponge divers',
 'trailing hand in the water',
 'loss of the schooner nomad',
 'angling',
 'wading after stray fish from seine netter\x92s catch',
 'wreck of the steamship sultan of bombay',
 'hunting turtle',
 'air/sea disaster',
 'removing shark from net ',
 'attempting to rescue an injured & beached shark',
 'standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'lying on surfboard',
 'snorkeling, carrying a speared fish in her hand',
 'fisherman',
 'preparing to fish for jack-mackerel',
 'bodyboarding',
 'snorkeling, possibly holding a fish',
 'resting on surfboard',
 'lying on surfboard & paddling',
 'board sailing',
 'wading, knocked down & swept away by large waves',
 'observing a shark feeding on a carcass of a humpback whale',
 "filming 5' blue shark",
 'playing ',
 "fell off surfboard 20' from shore",
 '   ',
 'paddling on surfboard or body board',
 'the mv dona marilyn sank in typhoon unsang with the loss of 389 lives',
 'riding floatation device',
 'chumming for sharks',
 'fell off aircraft carrier',
 'playing / standing',
 'on a float',
 '"riding waves on a board"',
 'jumped off surfboard & landed on the shark',
 'playing / jumping',
 'murder victim',
 'commercial diver (submerged or treading water)',
 'adrift on refugee raft',
 'jumped off rocks into white water',
 'removing shark from tank in nightclub ',
 'playing volleyball with friends',
 'stamding',
 'watching the shark feeding on a dead pinniped',
 'dragging stranded shark into deeper water',
 'sittting in water with his child',
 'collecting fish from net',
 '14 m prawn trawler new venture capsized  & sank in heavy seas three people in the water',
 'water-skiing',
 'attempting to free the shark',
 'ran into the water',
 'in waist-deep water',
 'sailboarding, fell into water 100 yards outside the breakwater',
 'inspecting teeth of supposedly dead (hooked & shot) shark',
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'snorkeling on surface',
 'catching sardines',
 'standing / wading',
 'exercising his dog in the shallows',
 'resting on body board',
 'gaffing netted shark',
 'murdered by thai pirates',
 'floating on inner tube raft',
 'floating on air mattress',
 'steinhart aquarium',
 'pêcheur de bichiques',
 'towing her sister on plastic ski board',
 'walking in surf',
 'lying atop surfboard',
 "attempting to lasso shark's tail",
 'returning to shore, collided with shark',
 'vessel caught fire & capsized, survivors in the water',
 'dropping anchor',
 'the inter-island ferry vula sank in heavy weather',
 'jumped into the water from a cliff',
 'adrift after ditching plane in the sea',
 'nsb meshing',
 'racing ski',
 'playing in knee-deep water',
 'investigating shark sighting',
 'sailing on catamaran & fell into the water',
 'sea disaster, foundering of the cargo vessle m/v dorolonda',
 'boeing 757 enroute from porta plata plunged into the sea',
 'dived naked into the water on a bet',
 'attempting to attract dolphins',
 'standing, holding shark pup',
 'playing soccer in the water',
 'washing sand off a speared fish',
 'touching sharks',
 'standing or boogie boardin',
 'removing shark from net',
 'boogie boarding, kicked at object in the water',
 "crouching in 2' of water",
 'attempting to drive shark away from sailing regatta',
 'swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'chumming for white sharks',
 'air disaster. flash airlines boeing 737 crashed into the red sea',
 'standing, stepped on shark',
 'walking, carrying surfboard & stepped on shark',
 'killing  sharks',
 'petting captive sharks',
 'shrimping',
 'playing on a sandbar',
 'watching seals',
 'wakeboarding',
 'paddling on kneeboard',
 'measuring sharks',
 'yacht race',
 'sinking of the cargo ship mark jason',
 'rowing an inflatable dinghy',
 "accidentally stood on hooked shark's tail before attempting to gut it ",
 'attempting to chase shark out to sea',
 'removing fish from a trap',
 'the 426-ton cargo ship mia, laden with cement, capsized in heavy seas ',
 'wading?',
 'rescuing',
 'attempting to fix motor',
 'surf paddling',
 'removing hook from shark',
 'reviving a sedated shark',
 'wading, when he stepped on the shark',
 'attempting to retreive a dinghy',
 'snorkeling (filming the sardine run)',
 'kayaking or wave skiing',
 'canoe with 3 men onboard sank',
 'wading with surfboard',

Before we bucket them let's take a moment to appreciate the bravery of few of those shark attack victims who were attacked while: 
- dragging a shark
- diving naked into the water on a bet
- attempting to catch a crocodile
- attempting to lasso a shark
- attempting to rescue a shark
- kissing a shark
- dragging banana seeds through the shallows.

In [36]:
data2["activity"] = data2["activity"].apply(lambda x: "other" if x in rare_activities else x)
data2["activity"].value_counts()

fishing                       1157
surfing                       1134
swimming                      1107
other                          778
diving                         524
ukn                            475
bathing                        189
wading                         149
boating                        103
standing                        99
snorkeling                      89
body boarding                   64
fell into the water             62
boogie boarding                 45
kayaking                        33
treading water                  32
surf skiing                     31
floating                        22
walking                         17
paddle boarding                 15
canoeing                        14
sea disaster                    13
rowing                          12
sailing                          9
playing                          7
shipwreck                        6
murder                           5
paddleskiing                     5
dangling feet in the water       5
Name: activity, dtype: int64

In [194]:
data3 = data2.copy() #copy of the dataframe after cleaning gender and activity columns

In [195]:
# cleaning injury column

In [196]:
data3["injury"].value_counts()

FATAL                                                                   778
Survived                                                                 95
Foot bitten                                                              87
No injury                                                                81
Leg bitten                                                               72
                                                                       ...
FATAL, arm bitten                                                         1
Multiple injuries                                                         1
Right thigh bitten PROVOKED INCIDENT                                      1
Bruised right leg                                                         1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: injury, Length: 3698, dtype: int64

In [197]:
def clean_injury(x):
    x = str(x).lower()
    if "fatal" in x:
        return "fatal"
    elif "leg" in x:
        return "leg or foot injury"
    elif "thigh" in x:
        return "leg or foot injury"
    elif "knee" in x:
        return "leg or foot injury"
    elif "foot" in x:
        return "leg or foot injury"
    elif "feet" in x:
        return "leg or foot injury"
    elif "heel" in x:
        return "leg or foot injury"
    elif "ankle" in x:
        return "leg or foot injury"
    elif "shin" in x:
        return "leg or foot injury"
    elif "toe" in x:
        return "leg or foot injury"
    elif "calf" in x:
        return "leg or foot injury"
    elif "calves" in x:
        return "leg or foot injury"
    elif "human remains" in x:
        return "fatal"
    elif "bones recovered" in x:
        return "fatal"
    elif "body not recovered" in x:
        return "fatal"
    elif "body recovered" in x:
        return "fatal"
    elif "remains recovered" in x:
        return "fatal"
    elif "killed" in x:
        return "fatal"
    elif "laceration" in x:
        return "lacerations"
    elif "lacerated" in x:
        return "lacerations"
    elif "abdomen" in x:
        return "abdomen injury"
    elif "hand" in x:
        return "arm or hand injury"
    elif "finger" in x:
        return "arm or hand injury"
    elif "thumb" in x:
        return "arm or hand injury"
    elif "arm" in x:
        return "arm or hand injury"
    elif "shoulder" in x:
        return "arm or hand injury"
    elif "elbow" in x:
        return "arm or hand injury"
    elif "wrist" in x:
        return "arm or hand injury"
    elif "head" in x:
        return "head or face injury"
    elif "face" in x:
        return "head or face injury"
    elif "scalp" in x:
        return "head or face injury"
    elif "chest" in x:
        return "torso injury"
    elif "ribs" in x:
        return "torso injury"
    elif "back" in x:
        return "torso injury"
    elif "torso" in x:
        return "torso injury"
    elif "hip" in x:
        return "torso injury"
    elif "buttock" in x:
        return "torso injury"
    elif "no injury" in x:
        return "no injury"
    elif "no injuries" in x:
        return "no injury"
    elif "not injured" in x:
        return "no injury"
    elif "uninjured" in x:
        return "no injury"
    elif "swim fin bitten" in x:
        return "no injury"
    elif "minor" in x:
        return "minor injury"
    elif "bruise" in x:
        return "minor injury"
    elif "abrasion" in x:
        return "minor injury"
    elif "survived" in x:
        return "other"
    elif "drown" in x:
        return "shark involvement unconfirmed"
    elif "scaveng" in x:
        return "scavenging"
    elif "not confirmed" in x:
        return "shark involvement unconfirmed"
    elif "unconfirmed" in x:
        return "shark involvement unconfirmed"
    elif "post-mortem" in x:
        return "shark involvement unconfirmed"
    elif "post mortem" in x:
        return "shark involvement unconfirmed"
    elif "no details" in x:
        return "unknown"
    elif "provoked incident" in x:
        return "unknown"
    elif "ukn" in x:
        return "unknown"
    else: 
        return x

In [198]:
data3["injury"] = data3["injury"].apply(clean_injury)

In [199]:
data3["injury"].value_counts()

leg or foot injury                                                                      2317
fatal                                                                                   1400
no injury                                                                                763
arm or hand injury                                                                       534
lacerations                                                                              413
                                                                                        ...
cracked jaw & broken tooth, shark took chunk out of surfboard                              1
the press reported this as an attack by a white shark but the diver was the agressor       1
shark bit rudder & hull                                                                    1
major injuries                                                                             1
shark bumped him                                                                           1
Name: injury, Length: 187, dtype: int64

In [200]:
other_injuries = [ind for ind, val in data3["injury"].value_counts().iteritems()if val <6]
other_injuries

['recovered',
 'missing, believed taken by a shark',
 'thought to have been taken by a shark. body was not recovered',
 'multiple injuries',
 'multiple major injuries',
 'missing, thought to have been taken by a shark',
 'of her crew of 50, eight perished, including the two injured men',
 'survivors on life rafts were harassed by sharks',
 'injured by sharks, but managed to swim ashore 6.5 hours later',
 'paddle of surf ski bitten by shark',
 'general imamura, commander in chief of japanese forces in java was sentenced to 10 years imprisonment by australian military court for his role in the "pig basket atrocities"',
 '"mauled"',
 'clothing torn by sharks',
 'struck by shark immediately before it bit tanner (see below)',
 'no inury to occupants, shark struck boat',
 'an estimated  3,000 to 7,000 japanese troops perished, some were taken by sharks',
 'shark leapt onboard & into fishwell, tossing a crew member, pepino, in the sea',
 'disappeared & his torn clothing washed ashore',
 'shark bumped dinghy twice',
 'swept out to sea by strong currents, his remains found in a 5.5m shark caught off barber\x92s point',
 '"mysteriously disappeared" his body was found in an 18\', 750-lb shark caught at barber\'s point on 01-sep-1931',
 'unprovoked, but circumstances unknown',
 'shark jumped into cockpit',
 'when picked up by the uss boyd dd 44 on 6/23/1944 his raft was "surrounded by sharks"',
 'when survivors werer rescued on 10/27/1944 by pc 623 there were many sharks in the area',
 'injuries caused by coral, not the  shark',
 'injuries not caused by sharks',
 'right cheek bitten',
 'disappeared while diving, speargun recovered, 2 large sharks in vicinity.',
 'injured while sonieva was transferred to another canoe',
 'injured by shark',
 '"badly bitten by shark"',
 'bitten several times before being rescued after 43 hours in the sea by the freighter stell advocate',
 'swimfin & 2 wool socks removed by shark, suit torn',
 'body found in gut of 2000-lb white shark',
 'recuers fought sharks for the bodies',
 'sharks attacked raft & consumed the body of ericsson after he died',
 'body found after a week in the water apparently bitten by shark/s',
 'his remains were recovered from a \x93huge shark\x94 caught 3 days later. the remains of another fisherman, harold fujimoto, were recovered, but the body of the third fisherman, hideo tamura, was never found',
 'u.s. destroyer john w. weeks, 6 miles offshore, demonstrating guns & bombs for mexican officials was thought to have driven the shark into the shallows where it bit the bather before other bathers drove it away with sticks & clubs.',
 'suit ripped',
 'radius & ulna bared',
 '"serious injuries"',
 'shark holed and sank boat, occupants rescued',
 'multiple injuries ',
 'of 1256 on board, 295 perished, some were taken by sharks',
 'severe bump & few superficial wounds ',
 'shark struck him with its tail',
 "unclear if he sustained any injury from the 7' shark",
 'partial  remains found in shark',
 'shark bit & tipped the dory',
 'limbs severed',
 '"very severe wounds"',
 '"severely bitten but recovered"',
 'thought to have been taken by a shark/s. bodies not  recovered',
 'thought to have been taken by a shark/s. body not  recovered',
 'disappeared, thought to have been taken by a shark',
 'remains of one of the crew found in shark',
 'shark knocked him down & tore clothing of the rescuer',
 'many of the crew were taken by sharks',
 '"he was taken up alive and but little injured." ',
 'aboriginal rock carving depicts man being attacked by a shark',
 'herodotus tells of sharks attacking men in the water',
 'injury required 16 stitches',
 'bumped by sharks',
 '"severely injured when fish were seized by shark"',
 'the body of one woman had been bitten by a shark but it is not known if she was alive at the time, the other woman disappeared',
 'injured',
 'bathing suit torn & "imprints of the shark\'s teeth on his body"',
 '"nose hanging by a threat, prints of shark\'s teeth over entire right cheek"',
 'recovered at thursday island hospital',
 "body of woman recovered from 15' shark",
 'later found to be fiction, never happened',
 '40 people perished',
 'boat damaged',
 ' 55  perished, some were  taken by sharks',
 'injuries, if any, unknown, but afterwards diver stunned shark with iron bar',
 'reported to have had "2 fights with sharks" before being rescued by the british freighter dorsetafter 23 hours in the water',
 '"recovered"',
 "bitten by shark, but  repelled it with his 'skandalopetra' ",
 '"severely bitten"',
 ' search party saw a large shark devour what appeared to be part of her body',
 ' 2 of the 5 fishermen were so seriously injured they died of their wounds',
 'cause of death may have been downing',
 'shark involvement prior to death was not determined',
 'thought to have been taken by a shark',
 'jumped off cliff',
 'shark tried to bite prop twice',
 'sharks attacked sailors in the water, several survivors picked up',
 'boat followed shark; shark holed boat',
 'groin bitten',
 'of the 20 crew, 4 were bitten by shark. none of their iinjuries were life-threatening',
 'stingray envenomation, not a shark',
 'some of the bodies recovered had been bitten by sharks',
 '8 shark-bitten bodies washed ashore',
 'shark-bitten surfboard found adrift',
 'disappeared, surfboard washed ashore, marks on leash suggested shark involvement ',
 'disappeared while diving, may have suffered shallow water blackout. searchers observed large tiger sharks & whaler sharks in the area',
 'no inury',
 'toothmarks in board & his swim trunks',
 'disappeared. his ripped dive jacket was recovered',
 'sharks prevented recovery of remains',
 'presumed taken by a shark,  but forensic evidence suggested otherwise.',
 'shark bit 8" chunk from swim fin',
 '5 m white shark obsrved feeding on remains 6 days later',
 'seriously injured',
 '106 bodies were recovered, some had been bitten by sharks',
 'hamstring bitten',
 'note: see 1992.06.28',
 'shark bit boats sea anchor',
 'reports said a shark attacked the dinghy, but vickery said it did not',
 'missing',
 'erroneously reported on several internet sites as a "shark attack", it was the shark 8\', 300-kg mako shark that was attacked, not the fisherman',
 'injured by teeth of a dead porbeagle shark he was tossing overboard.',
 ' the shark & man simply collided; neither were injured',
 'no attack, shark made a threat display',
 'no inury, board broken in half by shark',
 'no inury, shark & board collided',
 '"serious"',
 'board snapped in two',
 'during his 16-hour swim to shore, he was circled by a shark but it did not injure him',
 'severe bite to right flank',
 'of 9 bodies recovered, one was bitten by a shark',
 'a hoax, no shark involvement',
 'his boat was holed by a shark',
 'bitten on rear lower extremities',
 'disappeared. no evidence that he was taken by a shark',
 'never happened; it was a  hoax',
 'no ijnury to boardrider, shark struck board breaking the mast',
 'knocked off board, shark bit nose off surfboard',
 'no inujury to occupant. shark bit boat repeatedly, leaving  2 teeth in the bottom keel of the boat',
 'swept out to sea, feared taken by shark',
 'body recovery efforts were hampered by large sharks but sharks did not cause the deaths. ',
 'shark rammed boat 5 times & holed it',
 'bones and brightly colored bangles recovered  3.35 m, 145.5-kg tiger shark\x92s gut ',
 'disappeared, no trace of men or equipment, shark attack considered',
 'holed & sank boat, 1 man flung into water but ignored by the shark',
 '2 life preservers had been bitten by sharks',
 'all 16 onboard perished, recovery efforts hampered by sharks',
 '7 rescued, 7 bodies recovered, 10 missing. many sharks in crash area.',
 'two shark-bitten lifejackets were recovered leading to speculation that sharks took at least 2 of the 39 missing crewmen',
 'bodies of 5 of the 6 men on board were bitten by by sharks. sharks may have contributed to the death of some of them.',
 'skeletonized, but shark involvement may have occurred after death.',
 'reported by media as shark attack but forensic evidence indicated the kayaker died prior to any shark involvement',
 'some of the survivors said to have been bitten by sharks',
 'considered a doubtful incident',
 'shark rammed boat, breaching its hull',
 'one body sighted but not recovered due to shark activity',
 'all 63 on board perished when the aircraft hit the water. sharks hampered retrieval of bodies',
 '1  survivor',
 'shark rammed boat & bit transom',
 'questionable. recovered flight gear was "completely shredded by sharks" but pilot may have died when plane hit the water,',
 'passengers taken by sharks',
 'recovered, said to involve a 1m nurse shark',
 'shark bumped colleen, the nudged scott, then bit frisbee & swam away with it',
 "swim fins badly torn by the shark's teeth",
 'lower part of body found 6 days later, x-rays revealed teeth marks in femur & tibia',
 'according to survivors, many people were taken by sharks',
 'cheek bitten',
 'his remains were recovered from a shark caught by  the trawler ho tai no.12 in march 1988',
 'of 160 people on board, >100 missing',
 'slipped off rocks & was treading water when he disappeared, body mutilated by shark/s',
 'pieces of clothing & human flesh recovered by fire department divers who encountered a large shark',
 '2 semi-circular bites on aft starboard tube of boat',
 'found to be a hoax',
 'bitten twice',
 'shark leapt into boat, pinning mamacos beneath and fracturing his pelvis, then trashed the boat rendering it inoperable',
 'shark following hooked fish, rammed & holed boat',
 'shark breached hull of boat',
 'cracked jaw & broken tooth, shark took chunk out of surfboard',
 'the press reported this as an attack by a white shark but the diver was the agressor',
 'shark bit rudder & hull',
 'major injuries',
 'shark bumped him']

There were some happy endings: 
- 'reported to have been killed by a shark but 2 years later he was found very much alive'
- 'later found to be fiction, never happened'
- 'never happened; it was a  hoax'

In [201]:
data3["injury"] = data3["injury"].apply(lambda x: "other" if x in other_injuries else x)
data3["injury"].value_counts()

leg or foot injury               2317
fatal                            1400
no injury                         763
arm or hand injury                534
lacerations                       413
other                             308
shark involvement unconfirmed     119
unknown                           117
torso injury                       88
minor injury                       74
head or face injury                40
abdomen injury                     16
scavenging                         12
Name: injury, dtype: int64

In [202]:
data4 = data3.copy()

In [203]:
#cleaning fatal column

In [204]:
data4["fatal"].value_counts()

n      4256
y      1359
ukn     586
Name: fatal, dtype: int64

In [205]:
def clean_fatal(x):
    x = str(x).lower()
    if x.startswith("y"):
        return "y"
    elif x.startswith("n"):
        return "n"
    else: 
        return "ukn"

In [206]:
data4["fatal"] = data4["fatal"].apply(clean_fatal)
data4["fatal"].value_counts()

n      4256
y      1359
ukn     586
Name: fatal, dtype: int64

In [207]:
# let's check if we can identify whether the injury was fatal or not based on the values in injury column

In [208]:
data4.loc[data4["injury"].str.contains ("fatal"), "fatal"] = "y"

In [209]:
data4["fatal"].value_counts()

n      4244
y      1469
ukn     488
Name: fatal, dtype: int64

In [210]:
data4["species"].value_counts()

ukn                                                                                                                              2758
White shark                                                                                                                       163
Shark involvement prior to death was not confirmed                                                                                102
Invalid                                                                                                                           101
Shark involvement not confirmed                                                                                                    86
                                                                                                                                 ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                   1
Bull shark, 2.3 m [7.5']                                                                                                            1
0.9 m  [3'] shark                                                                                                                   1
Mako shark, 14'                                                                                                                     1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: species, Length: 1550, dtype: int64

In [211]:
# species columns seems to contain a lot of incoherent or unconfirmed data so I will drop this column. 
data4 = data4.drop(columns = ["species"], axis=1)

In [212]:
data5 = data4.copy()

In [214]:
data5["country"].value_counts()

USA                           2227
AUSTRALIA                     1332
SOUTH AFRICA                   579
PAPUA NEW GUINEA               133
NEW ZEALAND                    126
                              ...
NORTH ATLANTIC OCEAN             1
MAYOTTE                          1
GABON                            1
ANDAMAN / NICOBAR ISLANDAS       1
CEYLON (SRI LANKA)               1
Name: country, Length: 210, dtype: int64

In [216]:
low_countries = [ind for ind, val in data5["country"].value_counts().iteritems()if val <10]
low_countries

['VENEZUELA',
 'NEW GUINEA',
 'TAIWAN',
 'ECUADOR',
 'SCOTLAND',
 'MADAGASCAR',
 'SOUTH KOREA',
 'CHILE',
 'COLUMBIA',
 'TANZANIA',
 'THAILAND',
 'SAMOA',
 'SEYCHELLES',
 'NORTH PACIFIC OCEAN',
 'CARIBBEAN SEA',
 'ISRAEL',
 'YEMEN ',
 'CHINA',
 'KIRIBATI',
 'SOMALIA',
 'INDIAN OCEAN',
 'LIBYA',
 'SINGAPORE',
 'BARBADOS',
 'NEW BRITAIN',
 'DOMINICAN REPUBLIC',
 'SIERRA LEONE',
 'NICARAGUA',
 'PALAU',
 'MALAYSIA',
 'MALTA',
 'MID ATLANTIC OCEAN',
 'OKINAWA',
 'SAUDI ARABIA',
 'TURKS & CAICOS',
 'HONDURAS',
 'URUGUAY',
 'RUSSIA',
 'NORTH ATLANTIC OCEAN',
 'GRENADA',
 'SUDAN',
 'BURMA',
 'PERSIAN GULF',
 'NIGERIA',
 'EL SALVADOR',
 'TUNISIA',
 'GUYANA',
 'PORTUGAL',
 'HAITI',
 'CEYLON',
 'AMERICAN SAMOA',
 'MARTINIQUE',
 'LEBANON',
 'GUINEA',
 'MONTENEGRO',
 'GUAM',
 'BELIZE',
 'MICRONESIA',
 ' TONGA',
 'CAPE VERDE',
 'LIBERIA',
 'TRINIDAD & TOBAGO',
 'AZORES',
 'Fiji',
 'UNITED ARAB EMIRATES (UAE)',
 'SOUTH PACIFIC OCEAN',
 'CRETE',
 'EGYPT ',
 'TOBAGO',
 'NORWAY',
 'ICELAND',
 'WEST INDIES',
 'UNITED ARAB EMIRATES',
 'JOHNSTON ISLAND',
 'YEMEN',
 'ST HELENA, British overseas territory',
 'SOUTHWEST PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'CENTRAL PACIFIC',
 'NAMIBIA',
 'CAYMAN ISLANDS',
 'BRITISH NEW GUINEA',
 'COMOROS',
 'ARUBA',
 'MONACO',
 'FALKLAND ISLANDS',
 'OCEAN',
 'SAN DOMINGO',
 'IRELAND',
 'KUWAIT',
 'REUNION ISLAND',
 'CYPRUS',
 'ANGOLA',
 'GEORGIA',
 'TASMAN SEA',
 'ASIA?',
 'RED SEA?',
 'KOREA',
 'BAHREIN',
 'DJIBOUTI',
 'Between PORTUGAL & INDIA',
 'SWEDEN',
 'MEDITERRANEAN SEA',
 'GHANA',
 'Coast of AFRICA',
 'SYRIA',
 'ALGERIA',
 'AFRICA',
 'PERU',
 'COOK ISLANDS',
 'EQUATORIAL GUINEA / CAMEROON',
 'ANDAMAN ISLANDS',
 'MALDIVES',
 'INDIAN OCEAN?',
 'TUVALU',
 'ITALY / CROATIA',
 ' PHILIPPINES',
 'CURACAO',
 'NICARAGUA ',
 'RED SEA / INDIAN OCEAN',
 'ANTIGUA',
 'BRITISH WEST INDIES',
 'ADMIRALTY ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'RED SEA',
 'NEVIS',
 'BRITISH VIRGIN ISLANDS',
 'GULF OF ADEN',
 'Sierra Leone',
 'ST. MAARTIN',
 'BRITISH ISLES',
 'WESTERN SAMOA',
 'GRAND CAYMAN',
 'BANGLADESH',
 'SOUTH CHINA SEA',
 'Seychelles',
 'MEXICO ',
 'EGYPT / ISRAEL',
 'NORTH SEA',
 'MALDIVE ISLANDS',
 'SLOVENIA',
 'PALESTINIAN TERRITORIES',
 'MID-PACIFC OCEAN',
 'BAY OF BENGAL',
 'SOLOMON ISLANDS / VANUATU',
 'PUERTO RICO',
 'NORTHERN ARABIAN SEA',
 'ST. MARTIN',
 'JAVA',
 'IRAN / IRAQ',
 'NORTHERN MARIANA ISLANDS',
 'NETHERLANDS ANTILLES',
 'GUATEMALA',
 'DIEGO GARCIA',
 'ARGENTINA',
 'SUDAN?',
 'THE BALKANS',
 'NORTH ATLANTIC OCEAN ',
 'MAYOTTE',
 'GABON',
 'ANDAMAN / NICOBAR ISLANDAS',
 'CEYLON (SRI LANKA)']

In [ ]:
## Between columns: country, area and location some information might be repeated or sufficient to remove NaN in other columns