In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, Normalizer, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

## Get data

In [2]:
data = pd.read_csv("files/attacks.csv", encoding='latin1')
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## Data cleaning

In [4]:
data = data.drop_duplicates() #to remove duplicated rows

In [5]:
data.columns = [col.lower().replace(' ','_') for col in data.columns] #to standardize headers

In [11]:
data.rename(columns={"sex_": "gender", "species_": "species", "fatal_(y/n)": "fatal"}, inplace=True)

In [12]:
## dataframe has no duplicates, headers are standardized and we removed rows with lot of NaNs. Let's take another look at our dataframe: 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6310 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   gender                  5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal                   5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

We can already notice that several columns won't be important for our model: 
- case_number doesn't add any relevant information. same for the date, year, case_number.1, case_number.2, original_order as the information from those originates in the date
- type contains very unclear information
- name and investigator_or_source columns - to be dropped, they don't contain any information applicable for our model 
- same for pdf, href and href_formula which contain pdf with links 
I will focus on the data regarding location, activity, gender of the victim and injury/fatality of the attack.

In [13]:
## The initial analysis suggests we can already drop several columns: case_number, year, name, pdf, href_formula, href, case_number.1, case_number.2, original_order, unnamed:_22, unnamed:_23, investigator_or_source
data = data.drop(columns = ["case_number", "date", "year", "type", "name", "age", "time", "pdf", "href_formula", "href", "case_number.1", "case_number.2", "original_order", "unnamed:_22", "unnamed:_23", "investigator_or_source"], axis=1)

In [14]:
def clean_empty(x):
    return 'UNK' if x == '' or x == ' ' else x

In [15]:
for col in data.select_dtypes('object'):
    data[col] = data[col].apply(clean_empty)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   6252 non-null   object
 1   area      5847 non-null   object
 2   location  5762 non-null   object
 3   activity  5758 non-null   object
 4   gender    5737 non-null   object
 5   injury    6274 non-null   object
 6   fatal     5763 non-null   object
 7   species   3464 non-null   object
dtypes: object(8)
memory usage: 443.8+ KB

In [17]:
data = data.dropna(thresh=5) #to remove rows which have NaN in min. 5 columns

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6201 entries, 0 to 6301
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   6178 non-null   object
 1   area      5833 non-null   object
 2   location  5749 non-null   object
 3   activity  5726 non-null   object
 4   gender    5680 non-null   object
 5   injury    6183 non-null   object
 6   fatal     5684 non-null   object
 7   species   3443 non-null   object
dtypes: object(8)
memory usage: 436.0+ KB

We have only categorical data left.

In [19]:
data1 = data.copy() #copy of the dataframe after initial clean up

In [20]:
data1.isna().sum()

country       23
area         368
location     452
activity     475
gender       521
injury        18
fatal        517
species     2758
dtype: int64

In [21]:
data1["country"] = data1["country"].fillna("unk")

In [22]:
data1["area"] = data1["area"].fillna("unk")

In [23]:
data1["location"] = data1["location"].fillna("unk")

In [24]:
data1["activity"] = data1["activity"].fillna("unk")

In [26]:
data1["gender"] = data1["gender"].fillna("unk")

In [27]:
data1["injury"] = data1["injury"].fillna("unk")

In [28]:
data1["fatal"] = data1["fatal"].fillna("unk")

In [29]:
data1["species"] = data1["species"].fillna("unk")

In [30]:
data1.isna().sum()

country     0
area        0
location    0
activity    0
gender      0
injury      0
fatal       0
species     0
dtype: int64

In [31]:
data2 = data1.copy() #copy of the dataframe after removing NaNs

In [32]:
data2.describe()

       country     area location activity gender injury fatal species
count     6201     6201     6201     6201   6201   6201  6201    6201
unique     210      822     4098     1519      7   3698     9    1550
top        USA  Florida      unk  Surfing      M  FATAL     N     unk
freq      2227     1037      452      969   5039    778  4255    2758

In [33]:
for col in data2:
    print(data2[col].value_counts(), '\n')

USA                           2227
AUSTRALIA                     1332
SOUTH AFRICA                   579
PAPUA NEW GUINEA               133
NEW ZEALAND                    126
                              ...
NORTH ATLANTIC OCEAN             1
MAYOTTE                          1
GABON                            1
ANDAMAN / NICOBAR ISLANDAS       1
CEYLON (SRI LANKA)               1
Name: country, Length: 210, dtype: int64

Florida                   1037
New South Wales            485
unk                        368
Queensland                 310
Hawaii                     298
                          ...
Aulong Island                1
Antibes                      1
Illeginni Atoll              1
Between Beira & Maputo       1
Moala Island                 1
Name: area, Length: 822, dtype: int64

unk                                               452
New Smyrna Beach, Volusia County                  163
Daytona Beach, Volusia County                      30
Ponce Inlet, Volusia County                        20
Melbourne Beach, Brevard County                    18
                                                 ...
Whale Beach                                         1
l'Anse-Vata                                         1
Hole-in-the Wall                                    1
Wreck of the Navy Barge, 22 miles SE of Rudee       1
Below the English fort, Trincomalee                 1
Name: location, Length: 4098, dtype: int64

Surfing                                 969
Swimming                                866
unk                                     475
Fishing                                 430
Spearfishing                            331
                                       ...
Feeding mullet to sharks                  1
Sight-seeing                              1
Netting pilchards                         1
Surf-fishing                              1
Wreck of  large double sailing canoe      1
Name: activity, Length: 1519, dtype: int64

M      5039
F       635
unk     521
M         2
N         2
lli       1
.         1
Name: gender, dtype: int64

FATAL                                                                   778
Survived                                                                 95
Foot bitten                                                              87
No injury                                                                81
Leg bitten                                                               72
                                                                       ...
FATAL, arm bitten                                                         1
Multiple injuries                                                         1
Right thigh bitten PROVOKED INCIDENT                                      1
Bruised right leg                                                         1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: injury, Length: 3698, dtype: int64

N          4255
Y          1358
unk         517
UNKNOWN      60
 N            7
M             1
2017          1
N             1
y             1
Name: fatal, dtype: int64

unk                                                                                                                              2758
White shark                                                                                                                       163
Shark involvement prior to death was not confirmed                                                                                102
Invalid                                                                                                                           101
Shark involvement not confirmed                                                                                                    86
                                                                                                                                 ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                   1
Bull shark, 2.3 m [7.5']                                                                                                            1
0.9 m  [3'] shark                                                                                                                   1
Mako shark, 14'                                                                                                                     1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: species, Length: 1550, dtype: int64

Looking at the information above we can see that we need to clean the data in all columns that are left so it's more clear for the model we'll build.

In [34]:
## cleaning the gender column.

In [35]:
data2["gender"].value_counts()

M      5039
F       635
unk     521
M         2
N         2
lli       1
.         1
Name: gender, dtype: int64

In [36]:
def clean_gender(x):
    x = str(x).lower()
    if x.startswith("m"):
        return "m"
    elif x.startswith ("f"):
        return "f"
    elif x.startswith("n"):
        return "m"
    else: 
        return "unk"

In [37]:
data2["gender"] = data2["gender"].apply(clean_gender)
data2["gender"].value_counts()

m      5043
f       635
unk     523
Name: gender, dtype: int64

In [38]:
## In the activity column we have too many different values so too avoid problems with our model I'll bucket the ones with a very low count (often it's too precise explanation of the context when the incident took place) under the label "other"

In [39]:
def clean_activity(x):
    x = str(x).lower()
    if "surfing" in x:
        return "surfing"
    elif "swimming" in x:
        return "swimming"
    elif "fishing" in x:
        return "fishing"
    elif "spearfishing" in x:
        return "spearfishing"
    elif "bathing" in x:
        return "bathing"
    elif "diving" in x:
        return "diving"
    else: 
        return x

In [40]:
data2["activity"] = data2["activity"].apply(clean_activity)
data2["activity"].value_counts()

fishing                                                                           1157
surfing                                                                           1125
swimming                                                                          1107
diving                                                                             524
unk                                                                                476
                                                                                  ...
hauling dead shark aboard, when another shark leapt out of the water & bit him       1
argentine air force c-54                                                             1
the boat caribou ii sank                                                             1
arsinoe, a french tanker                                                             1
wreck of  large double sailing canoe                                                 1
Name: activity, Length: 807, dtype: int64

In [45]:
rare_activities = [ind for ind, val in data2["activity"].value_counts().iteritems()if val <5]
rare_activities

['paddling on surfboard',
 'splashing',
 'body-boarding',
 'seine netting',
 'clamming',
 'kite boarding',
 'lifesaving drill',
 'jumped into the water',
 'jumping',
 'air disaster',
 'boat swamped',
 'tagging sharks',
 'boat capsized',
 'feeding sharks',
 'jumped overboard',
 'sculling',
 '.',
 'standing in knee-deep water',
 'jumped overboard ',
 'knocked overboard',
 'suicide',
 'paddling',
 'crabbing',
 'escaping from alacatraz',
 'sitting on gunwale of boat',
 'spearing fish',
 'their 9 m launch was run down by a 25,000-ton japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 'floating on a raft',
 'unknown',
 'competing in the woodvale atlantic rowing race',
 'playing in the surf',
 'shark watching',
 'feeding fish',
 'sup',
 'wreck of the schooner pohoiki ']

Before we bucket them let's take a moment to appreciate the bravery of few of those shark attack victims who were attacked while: 
- dragging a shark
- diving naked into the water on a bet
- attempting to catch a crocodile
- attempting to lasso a shark
- attempting to rescue a shark
- kissing a shark
- dragging banana seeds through the shallows.

In [46]:
data2["activity"] = data2["activity"].apply(lambda x: "other" if x in rare_activities else x)
data2["activity"].value_counts()

fishing                       1157
surfing                       1125
swimming                      1107
other                          892
diving                         524
unk                            476
bathing                        189
wading                         149
standing                        99
snorkeling                      89
body boarding                   64
boogie boarding                 45
kayaking                        33
treading water                  32
fell overboard                  30
walking                         17
canoeing                        14
floating                        14
sea disaster                    13
surf skiing                     12
surf-skiing                     12
rowing                          12
paddle boarding                  9
sitting on surfboard             9
sailing                          9
fell into the water              9
playing                          7
surf skiing                      7
floating on his back             7
boating                          7
shipwreck                        6
stand-up paddleboarding          6
murder                           5
boat                             5
paddleskiing                     5
dangling feet in the water       5
Name: activity, dtype: int64

In [ ]:
#data["country"].value_counts()

In [ ]:
#for ind, val in data["country"].value_counts().iteritems():
    #if val < 5:
        #print(ind,val)

In [ ]:
#low_countries = [ind for ind, val in data["country"].value_counts().iteritems() if val < 5]
#low_countries

In [ ]:
#data["country"] = data["country"].apply(lambda x:"OTHER" if x in low_countries else x)

In [ ]:
data.isna().sum()

In [ ]:
data = data.dropna(subset=["injury"])

In [ ]:
data = data.dropna(subset=["country"])

In [ ]:
## Between columns: country, area and location some information might be repeated or sufficient to remove NaN in other columns

In [ ]:
# checking values for country column
data["country"].value_counts()

In [ ]:
nan_rows = data[data["country"].isna()]
nan_rows

In [ ]:
data["fatal_(y/n)"].value_counts()

In [ ]:
## There might be a similar relation between columns injury and fatal. To be analyzed and cleaned.